/* https://coolors.co/2b2d42-ff715b-eaebed-ffffff-6e8898 */

/*
#2B2D42
#FF715B
#EAEBED
#FFFFFF
#6E8898
*/

html,
body {
	height:100%;
	background-color: #EAEBED;
	color:#6E8898;
}

body {
	font-family: 'Lucida Grande', 'Segoe UI', sans-serif;
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
		background-color: #6E8898;
}

#side-nav {
	background-color: #2B2D42;
	padding-top: 18px;
	width:71px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	overflow: hidden;
}

#side-nav img {
	width:40px;
	margin-left:15px;
}

#side-nav a {
	font-size: 1.5rem;
	color:#FF715B;
	margin-left: 0.3rem;
}
#side-nav a:hover {
	color:#ecf0f1;
}

#side-nav ul {
	list-style-type: none;
	padding: 20px;
	margin: 0px;
}
#side-nav li {
	padding-bottom: 8px;
}

#main {
	position:absolute;
	padding-left: 35px;
	left:71px;
	top:0px;
	bottom:0;
	right:0;
	min-width: 500px;
	/*overflow-y: scroll;*/
	overflow-x:hidden;
}

#top-bar {
	position: absolute;
	top: 0;
	height: 16px;
	left:71px;
	right:0px;
	border-bottom:#000 solid 1px;
	min-width: 500px;
}

#wrapper {
	height:100%;
	width: 100%;
}

#search-field input{
	width:300px;
	height: 30px;
	font-size: 1.1rem;
	padding:5px;
	padding-left:25px;
	position:relative;
	left: -15px;
	border-radius: 5px;
	border: 1px solid #fff;
	color:#2B2D42;
}
#search-field input:focus {
	border: 1px solid #FF715B;
	outline:none;
}
#search-field span {
	color:#FF715B;
	position:relative;
	z-index:1000;
	left:10px;
}

button, .update-panel-button {
	display:inline-block;
	background-color:#2B2D42;
	border-radius: 3px;
	padding:10px;
	border: 0px;
	margin: 5px;
	color:#6E8898;
	font-size: 0.8em;
	cursor: pointer;
}
button:hover, .update-panel-button:hover {
	color:#FF715B;
}


.update-panel-button {
	cursor:no-drop;
	width: 14px;
	height: 14px;
	text-align: center;
}
.update-panel-button i {
	position:relative;
	top:-2px;
}


img.portal-logo-list {
	max-width: 50px;
 	max-height:35px;
}

#search-result-list{
	margin-top:30px;
}


.addon-info-item, .addon-detailed-info {
	float:left;
	height: auto;
	width: 100%;
	min-width: 700px;
	margin-bottom: 10px;
}


.addon-info-status {
	display: block;
	float:left;
	position:relative;
	top: 10px;
}
.addon-info  {
	display: block;
	float:left;
	width: 80%;
	min-width: 350px;
}

.addon-info, .addon-info-status {
	margin-top:5px;
	margin-left:5px;
}
.addon-info-name {
	font-size: bold;
	font-size: 1.2em;
}

.addon-info-header {
	font-weight: bold;
}

.external-link:hover {
	cursor: pointer !important;
	color:#FF715B;
}

#update-addon-pane {
	margin-top:50px;
}

#installed-addon-pane {
	overflow:hidden;
}



/* Hover style */
[data-tooltip] {
  position: relative; /* magic */
  z-index: 2;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  /*border-top: 5px solid #000;*/
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -50px;
    padding: 7px;
    width: 100px;
    border-radius: 3px;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }

[data-tooltip]:hover:before,
[data-tooltip]:hover:after{
  visibility: visible;
}
/* end of tooltip */
