#search-field input{
	width:300px;
	height: 30px;
	padding:5px;
	padding-left:25px;
	position:relative;
	left: -15px;
	border-radius: 5px;
	border: 1px solid #fff;
	color:#2B2D42;
}
#search-field input:focus {
	border: 1px solid #B46DC7;
	outline:none;
}
#search-field span {
	color:#B46DC7;
	position:relative;
	z-index:1000;
	left:10px;
}

#class-search {
	width:100px;
	height:50px;
}

#class-search #class-menu {
	position:absolute;
	display: none;
	list-style-type: none;
	margin-top:0;
	padding:10px;
	font-size: 0.8em;
	margin-top:5px;
}

#class-search:hover > #class-menu {
	color: #B46DC7;
	display: block;
}

#class-menu {
	position:relative;
	background-color:#2B2D42;
	border-radius:3px;
	min-width:140px;
	height:auto;
	z-index:3000;
}

#class-menu li {
	color:#6E8898;
	margin-top:5px;
	padding-right:5px;
	padding-left:5px;
	cursor: pointer;
}

#class-menu li:hover {
	color:#B46DC7;
}

#class-menu li::last-child {
	padding-bottom:15px;
}

#search-result-list{
	margin-top:30px;
}