<div id="home-root">
	<h1>Settings</h1>

	<div id="application-information">
		<p>This is a tool for managing addons in World of Warcraft. You can get addons from wowinterface and curse.</p>
	</div>

	<div data-bind="visible: isConfigMissing() == true">
		<button data-bind="click: selectFolder">
			<i class="fa fa-folder"></i> Select folder</button>
	</div>


	<div data-bind="visible: isConfigMissing() == false">
		<button data-bind="click: selectFolder">
			<i class="fa fa-folder"></i> Change folder</button>

		<button data-bind="click: openFolder">
			<i class="fa fa-folder-open"></i> Open folder</button>
	</div>

	<div id="additional-info">
		<ul>
			<li>
				<a href="#" data-bind="click: visitProject">
					<span data-tooltip="visit project page">
						<i class="fa fa-github"></i>
					</span>
				</a>
			</li>
		</ul>

		<div id="version-info">
			<span data-bind="text: version"></span>
		</div>
	</div>
</div>
<script>
	ko.applyBindings(homeViewModel, document.getElementById('home-root'));
</script>
