<div id="search-root">
<h1>Search</h1>

<form data-bind="submit: searchPortals">
	<input type="text" data-bind="textInput: search" id="search-field"/>
</form>

<table>
	<thead data-bind="visible: searchResults().length > 0">
		<tr>
			<td>name</td>
			<td>creator</td>
			<td>downloads</td>
			<td>portal</td>
		</tr>
	</thead>
	<tbody data-bind="foreach: searchResults">
		<tr>
			<td data-bind="text: name"></td>
			<td data-bind="text: creator"></td>
			<td data-bind="text: downloads"></td>
			<!-- <td data-bind="text: portal"></td> -->
			<td><img class="portal-logo-list" data-bind="attr: {src: 'images/' + portal + '.png'}"/></td>
			<td>

				<div data-bind="visible: installed() == false">
					<form data-bind="submit:$parent.installAddon, visible: installing() == false">
						<button type="submit"><i class="fa fa-cloud-download"></i></button>
					</form>
					<div data-bind="visible: installing() == true"><i class="fa fa-refresh fa-spin"></i></div>
				</div>

				<div data-bind="visible: installed() == true"><i class="fa fa-check"></i></div>

			</td>
		</tr>
	</tbody>
</table>
</div>

<script>
	ko.applyBindings(searchViewModel, document.getElementById('search-root'))
</script>
